<script src="node_modules/chart.js/src/chart.js"></script>
<main>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <img class="pull-left app-logo" src="https://developers.italia.it/assets/icons/logo-it.png">
                <h1 class="pull-left app-title">Security Dashboard</h1>
            </div>

            <div class="collapse navbar-collapse">

            </div>
        </div>
    </div>
    <div class="container">

        <div class="page-title-mobile"><h2>Domains List</h2></div>

        <div class="row">

            <div class="chart-container pull-right col-md-4 text-center" *ngIf="chartData">
                <canvas baseChart
                        [data]="chartData"
                        [labels]="chartLabels"
                        [chartType]="chartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div class="domain-container col-md-8">
                <form class="domain-search-form">
                    <div class="app-search">
                        <input placeholder="Search..." name="search" class="form-control form-control-inline" type="search" [(ngModel)]="term" (keypress)="searchPressHandler($event)">
                    </div>
                    <div class="app-filters-container">
                        <button type="button" class="btn btn-default btn-xs search-button" (click)="search()">Search</button>
                        <button type="button" class="btn btn-default btn-xs reset-search-button" (click)="resetSearch()" *ngIf="term">Reset</button>
                    </div>
                </form>
                <div class="domain-table table-responsive">
                    <table class="table table-striped table-condensed table-bordered">
                        <thead>
                        <tr>
                            <th class="sortable">Domain</th>
                            <th class="sortable">Canonical URL</th>
                            <th class="sortable">Valid HTTPS</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let domain of domains" class="item">
                            <td>
                                {{domain.domain}}
                            </td>
                            <td>
                                {{domain.canonicalURL}}
                            </td>
                            <td>
                                <span class="show-in-responsive">HTTPS:</span> {{domain.validHTTPS? 'Yes' : 'No'}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>





