<script src="node_modules/chart.js/src/chart.js"></script>
<main>
    <div class="container">
        <div class="page-title-mobile"><h1>Domain List</h1></div>

        <div class="row">
            <div class="domain-search-form col-md-6">
                <form>
                    <div class="app-search">
                        <input placeholder="Search..." name="search" class="form-control form-control-inline" type="search" [(ngModel)]="term" (keypress)="searchPressHandler($event)">
                    </div>
                    <div class="app-filters-container">
                        <button type="button" class="btn btn-default btn-xs search-button" (click)="search()">Add Filter</button>
                        <button type="button" class="btn btn-default btn-xs reset-search-button" (click)="resetSearch()" *ngIf="term">Reset</button>
                    </div>
                </form>
            </div>
            <div class="chart-container col-md-6" style="display: block" *ngIf="chartData">
                <canvas baseChart
                        [data]="chartData"
                        [labels]="chartLabels"
                        [chartType]="chartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
        <div class="domain-table">
            <table class="table table-striped table-condensed table-bordered">
                <thead>
                <tr>
                    <th class="sortable">Domain</th>
                    <th class="sortable">Canonical URL</th>
                    <th class="sortable">Valid HTTPS</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let domain of domains" class="item">
                    <td>
                        {{domain.domain}}
                    </td>
                    <td>
                        {{domain.canonicalURL}}
                    </td>
                    <td>
                        {{domain.validHTTPS? 'Yes' : 'No'}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>





